@model IEnumerable<Aula12_EntityFramework.Models.Cliente>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clientes</title>
</head>
<h2>Lista de Clientes</h2>
<br />
<body>
    @foreach (var cli in Model)
    {
        <li>@Html.ActionLink(cli.Nome, "Detalhes", new { id = cli.ClienteId })</li>
    }
    <p>
        <hr />
        @Html.ActionLink("Retorna para a lista de Tipos", "Index", "TipoCliente")
    </p>
</body>
</html>
