
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>

    <h2>Clique no link abaixo para ver o detalhe do cliente</h2>
    <div> 
        @*Criar o link usando o HTML HELPERS*@

        <p>
        @Html.ActionLink("Click aqui para ver o detalhe do cliente","Detalhe")
        </p>

    </div>
</body>
</html>
